body {
    background-image: url('https://marketplace.canva.com/EAEthkBVLfQ/1/0/800w/canva-blush-wave-desktop-wallpaper-S_4-_kpzunc.jpg');

 /* background-color: aqua; */
h1 {color: palevioletred
};
tr {
    color: white;
}
}