{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Cadastrar animal{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="adicionar_animal">
    <p>
        Nome: <input type="text" name="nome" value="Lobinha">
    </p>
    <p>
        Cor: <input type="text" name="cor" value="Marrom">
    </p>
    <p>
        Raca: <input type="text" name="raca" value="Pastor Alemão">
    </p>

    <button>Cadastrar</button>
</form>

{% endblock %}