{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de pessoas{% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_animal") }}">Cadastrar novo animal</a>
</p>

<table border="1">
    <tr>
        <td>Nome</td>
        <td>Cor</td>
        <td>Raca</td>
    </tr>

    {% for p in animais %}
    <tr>
        <td>{{p.nome}}</td>
        <td>{{p.cor}}</td>
        <td>{{p.raca}}</td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}
